.player-card {
  width: 40%;
  margin-top: 4em;
}

.container {
  display: flex;
  justify-content: center;
}

.spinner {
  margin: auto;
  margin-top: 4em !important;
  margin-bottom: 4em !important;
}

a {
  color: #ffffffb3;
}

@media only screen and (max-width: 600px) {
  .player-card {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
  }
}
